In [2]:
import pandas as pd

In [3]:
URM = pd.read_csv('../Input/interactions_and_impressions.csv')

/var/folders/tt/9v6608x550n51759gpcrffsc0000gn/T/ipykernel_26417/614299197.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  URM = pd.read_csv('../Input/interactions_and_impressions.csv')

In [4]:
URM

,UserID,ItemID,Impressions,Data
0,0,11,"0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19",1
1,0,21,NaN,0
2,0,21,NaN,0
3,0,21,"20,21,22,23,24,25,26,27,28,29",0
4,0,21,NaN,1
...,...,...,...,...
5826501,41628,20448,NaN,0
5826502,41628,20896,NaN,1
5826503,41628,21506,NaN,1
5826504,41628,22882,NaN,0
5826505,41628,23757,NaN,0

In [5]:
URM = URM.drop(columns=['Impressions'])

In [6]:
URM

         UserID  ItemID  Data
0             0      11     1
1             0      21     0
2             0      21     0
3             0      21     0
4             0      21     1
...         ...     ...   ...
5826501   41628   20448     0
5826502   41628   20896     1
5826503   41628   21506     1
5826504   41628   22882     0
5826505   41628   23757     0

[5826506 rows x 3 columns]

In [7]:
URM.drop_duplicates(subset=['UserID', 'ItemID'], inplace=True)

In [8]:
URM

         UserID  ItemID  Data
0             0      11     1
1             0      21     0
13            0      22     1
28            0      24     1
29            0      44     1
...         ...     ...   ...
5826501   41628   20448     0
5826502   41628   20896     1
5826503   41628   21506     1
5826504   41628   22882     0
5826505   41628   23757     0

[1554640 rows x 3 columns]

In [9]:
URM['Data'] = 1

In [10]:
URM.to_csv('interactionsFiltered.csv', index=False)