In [1]:
import pandas as pd
import scipy.sparse as sps

In [2]:
dataset = pd.read_csv('../Input/interactions_and_impressions.csv')

/var/folders/tt/9v6608x550n51759gpcrffsc0000gn/T/ipykernel_67711/1891551792.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('../Input/interactions_and_impressions.csv')

In [14]:
dataset.head()

   UserID  ItemID                                        Impressions  Data
0       0      11  0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19     1
1       0      21                                                NaN     0
2       0      21                                                NaN     0
3       0      21                      20,21,22,23,24,25,26,27,28,29     0
4       0      21                                                NaN     1

In [26]:
dataset.drop(dataset[dataset.Data != 0].index, inplace=True)
dataset = dataset['Data'].replace(0, 1)

AttributeError: 'Series' object has no attribute 'Data'

In [22]:
userID_unique = dataset["UserID"].unique()
itemID_unique = dataset["ItemID"].unique()

userID_unique

array([    0,     1,     2, ..., 41626, 41627, 41628])

In [23]:
URM = sps.coo_matrix((dataset["Data"].values,
                          (dataset["UserID"].values, dataset["ItemID"].values)))

URM

<41629x24507 sparse matrix of type '<class 'numpy.int64'>'
	with 3567479 stored elements in COOrdinate format>

In [24]:
URM.tocsr()

<41629x24507 sparse matrix of type '<class 'numpy.int64'>'
	with 1051828 stored elements in Compressed Sparse Row format>